body{background-color: darkseagreen; margin: auto 0px}

h1{font-family: Serif;font-size: x-large}
p1{font-size: large}
p{font-size: medium}

#OpsriftCon1{margin: auto 5px; background-color: aquamarine; width: 1000px; height: 1000px}

