<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Madspild</title>
    <link rel="stylesheet" href="MadStyle.css">
</head>
<body>
<h1>Velkommen til hjemmesiden med info om madspild</h1>

<p>Her er info til både voksne, unge og børn</p>

<head>
    <p>

    <li><a href="/Info">Info om madspild</a></li>
    <li><a href="/Opskrifter">Opskrifter om madspild</a></li>
    <li><a href="/Tegneserie">Tegneserie om madspild</a></li>
    <li><a href="/Undgå">Undgå Madspild</a></li>

    </p>

</head>

</body>
</html>