<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><Info</title>
</head>
<body>
        <h1>Velkommen til hjemmesiden med info om madspild</h1>


        <div id="Bekæømp madspild">

            <img src="images.jfif">

        </div>

        <div id="infoCon1">
        <h1>
            Madspild i overskrifter - bliv klogere på kampen mod madspild
        </h1>

        <head>
            <br>
            En god guide om madspild - til borgere, skoleelever og andre madspilds-interesserede</br>
            <br>Hvad betyder madspild for klimaet? Og hvem er de største madspildere i Danmark?</br>
            <br>Hvad smider folk mest ud? Og er det muligt at have en verden uden madspild?</br>
            <br>Stop Spild Af Mad har samlet en stor guide om madspild.</br>
        </head>

        <h1>
            Hvad er madspild og hvad er forskel på madspild og madaffald?
        </h1>
        <br>Madspild er god spiselig mad, der kunne være spist af mennesker, men af en eller anden årsag er blevet smidt ud.</br>
        <br>Der er forskel på madspild og madaffald. Madaffald er ifølge Miljøstyrelsen alt affald, som stammer fra mad. Madspild er fødevarer, der kunne være spist, men i stedet er blevet smidt ud.</br>
        <br>Madaffald er de dele af fødevarerne, der ikke er egnet til at blive spist. Eksempler på madspild er brød, hele frugter, grønt og middagsrester. Eksempler på madaffald er æggeskaller, kaffegrums og kernehuse.</br>

<h1>
    Hvor stort et madspild er der i Danmark?
</h1>
        <br>Tal fra Miljøstyrelsen viser, at vi i Danmark samlet set hvert år smider for over 700.000 ton mad ud, som kunne være spist.</br>
        Husholdningernes madspild udgør 260.000 ton per år. </br>
        I servicesektoren er der et årligt madspild på 227.000 ton, heraf 163.000 ton fra detailhandlen, 29.000 ton fra hoteller og restauranter, og 31.000 ton fra institutioner og storkøkkener om året. </br>
        Madspild fra primærproduktionen udgør 100.000 ton per år, mens fødevareindustrien står for et årligt madspild på 133.000 ton.</br>

        Ifølge Landbrug & Fødevarer koster madspild danske husholdninger 13,5 milliarder kroner om året inklusiv moms og afgifter. </br>
        Alle de spiselige fødevarer, der årligt spildes i Danmark, svarer til syv gange vægten af Marmorkirken og 3,8 % af den samlede CO2-udledning, der hvert år udledes fra Danmark, estimerer Miljø- og Fødevareministeriet.</br>

<h1>Hvem er de største madspildere i Danmark?</h1>



        <br>Miljøstyrelsen estimerer årligt madspild i Danmark således:</br>

        Husholdningerne: 36 %</br>
        Detailhandlen: 23 %</br>
        Fødevareindustrien: 19 %</br>
        Primærproduktionen: 14 %</br>
        Institutioner og storkøkkener: 4 %</br>
        Hoteller og restauranter: 4 %</br>

<h1>Hvordan påvirker madspild klimaet?
</h1>

        <br>Madspild står ifølge FN for 8 til 10 % af al verdens CO2-udledning.</br>
        Ubrugte madvarer er skyld i 3,3 milliarder ton CO2-udledning hvert år. </br>
        Hvis man sammenligner den CO2-udledning, som madspild er skyld i, vil det kun være USA og Kina, der udleder mere.</br>
        De 700.000 ton spiselige fødevarer, der årligt spildes i Danmark, svarer til 3,8 % af den samlede CO2-udledning, der hvert år udledes fra Danmark, estimerer Miljø- og Fødevareministeriet. </br>
        Mindre madspild har en direkte miljøeffekt, idet det mindsker ressourcebehovet og naturbeslaglæggelse. </br>
        Ifølge Paul Hawken, som er en af USA's fremmeste miljøforkæmpere og hovedmanden bag Project Drawdown, som er verdens hidtil mest omfattende forsøg på at vise de mest realistiske klimaløsninger, ligger indsatsen mod madspild blandt verdens bedste klimaløsninger.</br>

        </div>
</body>
</html>