<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opskrifter</title>
    <link rel="stylesheet" href="OpskriftStyle.css">
</head>

<h1>Madspilds opskrifter</h1>

<p1> Her er nogle eksempler på mad opskrifter der vil lade dig bruge resterne fra din mad til at lave noget lekært, istedet for at smide de ud.</p1><br>

<div id="OpsriftCon1">

<p> Cæcarsalat</p><br>
<a href="https://www.valsemollen.dk/opskrifter/caesarsalat/">
<img src="Juli_opskrift_1.jpg" alt="Cæcarsalat" width="750" height="750">
</a>

<p> Pull apart brød med hvidløg og ost</p><br>
<a href="https://www.valsemollen.dk/opskrifter/pull-apart-broed-med-hvidloeg-og-ost/">
    <img src="pullapartbrd.jpg" alt="Pull apart brød" width="750" height="750">
</a>

<p> Rabarbercrumble</p><br>
<a href="https://www.valsemollen.dk/opskrifter/rabarbercrumble/">
<img alt="test" src="rebarbartrte.jpg" width="750" height="750">
</a>

<p> Hvis du vil se flere opskrifter kan du gå ind på <a href="https://www.valsemollen.dk/opskrifter/stop-madspild/" valsemøllen.dk > </a></p>

</div>

<body>

</body>
</html>