<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tegneserie</title>
    <link rel="stylesheet" href="TegneserieStyle.css">
</head>
<body>
<h1>Velkommen til børnesiden om madspild</h1>

<p>Her er der videoer og tegneserier til de børn og voksne i alle aldre.
</p>

<h1>Animationsfilm</h1>

<p>
<a href="https://www.youtube.com/watch?v=WwE7TxtoyqM" target="_blank">Gør verdensmålene til virkelighed </a>
</p>

<a href="https://vimeo.com/286141329" target="_blank">Sæt gang i verdensmålene!</a>

<p>
<a href="https://vimeo.com/138185078" target="_blank">Om verdensmålene</a>
</p>

<h1>Tegneserie "Forandringens Helte"</h1>

<a href="https://heleverdeniskole.dk/sites/default/files/forandringes_helte_final.pdf" target="_blank">Forandringens Helte</a>


<div id="billedId1">

<img src="madskole_duevej_070715_118_300ppi-1.jpg" alt="Børn kæmper mod madspild" width="1000" height="1000">

</div>

</body>
</html>