<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Undgå madsspild</title>
</head>

<h1>Madspild: Sådan undgår du at smide mad ud</h1>

<nav>
Madspild belaster klimaet, og det koster dig mange penge.
Få vores tips til at undgå madspild her.
</nav>

 <h2>Stop madspild</h2>
<br>Smider du mad ud, der kunne være blevet spist? Madspild koster danske familier tusindvis af kroner om året.</br>
Madspild belaster også klimaet og miljøet. Det koster nemlig ressourcer og CO2 at producere mad. Og de ressourcer er spildt, hvis maden bliver smidt ud.</br>
Transport, opvarmning af stalde og drivhuse, brug af maskiner, gødning, sprøjtemidler og produktion af foder til dyr er nogle af de poster, der gør, at mad vejer tungt i klimaregnskabet.</br>

<h2>Få vores tips til at undgå madspild:</h2>

<h3>1. Lav en madplan</h3>
<br>Planlægning er essentielt, når du skal lave en god madplan, der holder.</br>

Inddrag familien.</br>
Snak med dem om, hvad de har lyst til at spise, og hvad der skal ske i ugens løb, så I kan planlægge ud fra alles ønsker og aktiviteter.</br>
Vælg en fleksibel løsning.</br>
Lange ugeplaner ryger tit i vasken, fordi familiens planer ændrer sig. Lav i stedet korte 2-dages moduler, som kan byttes rundt.</br>
En madplan i moduler er en fleksibel løsning.</br>
Gør plads til improvisation – put for eksempel en dag ind til det hver uge.</br>

<h3>2. Skriv en indkøbsliste</h3>
Handler du uden at vide, præcis hvad du går efter, kan du let lave fejlkøb.</br>
Indkøbslisten er dit bedste redskab i kampen mod madspild - lav den altid, inden du går hjemmefra (og hold dig til listen).</br>
Planlæg din indkøbsliste, så du har måltider til mange dage.</br>
Hvis du kun køber ind 1 til 2 gange om ugen, udsætter du dig selv mindre for spontane fristelser i supermarkedet.</br>
Vælg retter, der indeholder nogle af de samme ingredienser.</br>
For eksempel kan du både bruge broccoli i en wok-ret og i en smoothie til morgenmad.</br>

<h3>3. Tjek skabe, skuffer, fryser og køleskab</h3>
Har du et lager af pasta, hvedemel, ris og bønner? Du glemmer let, hvad du har i skabet – og så ender du måske med at købe nyt, selv om du havde en rest i skabet.</br>
Tjek skuffer og skabe derhjemme, inden du går ud og handler. Så køber du ikke mad, du allerede har.</br>
Orden i skabe, skuffer og i dit forråd af tørvarer gør det lettere for dig at købe de varer, du rent faktisk skal bruge i supermarkedet. Og så er det let at supplere med ekstra ingredienser.</br>

<h3>4. Spis, før du shopper</h3>
Sult kan let friste dig til at købe mad impulsivt.</br>
Og derfor kan du være mere tilbøjelig til både at købe for meget mad og usunde varer, når du køber ind.</br>


<h2>Under indkøb: Lad dig ikke lokke i supermarkedet</h2>

<h3>1. Tag en mindre kurv, når du handler</h3>
<br>Indkøbskurvens størrelse betyder noget for mængden af varer, du køber. En lille kurv husker dig på, at du ikke skal købe mere, end du kan bære.</br>
En indkøbskurv med hjul gør, at du ikke lægger mærke til, hvor meget du køber.  Vælg en kurv med hank, hvis det er muligt i supermarkedet.</br>

<h3>2. Pas på gode tilbud og mængderabatter</h3>
Tilbud kan være fristende, især hvis du sparer mange penge. Men hvis du køber 3 for 2’s pris og alligevel kun får brugt 1, smider du både mad og penge ud af vinduet.</br>

<h3>3. Overvej, om du har brug for den store portion</h3>
Portionsstørrelser kan også bidrage til madspild. Nogle gange får du mest for pengene, hvis du køber store poser eller pakker.</br>
Vælg dog altid den portion, der passer til dit behov. Spørg dig selv: Får du virkelig spist det største hvidkålshoved eller det store rugbrød?</br>


<h2>Efter indkøb: Få maden til at holde længere</h2>
<h3>2. Få styr på holdbarhedsmærkningerne</h3>
<br>Holdbarheden af din mad kan du tjekke på datomærkningen. Datoen viser, hvor længe færdigpakket mad kan holde sig, når du ikke har åbnet pakken.</br>

Mad kan have 2 forskellige datomærker:</br>

"Sidste anvendelsesdato"</br>
"Bedst før" og "Bedst før – ofte god efter"</br>
Har du ikke styr på, hvad de 2 mærker står for, kan du komme til at smide mad i skraldespanden, som du sagtens kan spise.</br>

<h3>3. Pak dit køleskabet smart</h3>
<br>Stil de ældste varer forrest i køle- og køkkenskabe, så du husker at bruge dem først, eller lav en skal-spises-snart-hylde i køleskabet.</br>
Sæt et klistermærke eller lignende på hylden, og opbevar den mad, der skal spises snart her.</br>
Stil yoghurten eller ketchuppen på hovedet og klip remouladen op for at få det sidste med ud.</br>

<h3>4. Brug alternative ingredienser i opskrifter</h3>
<br>Opskrifter behøver du ikke at følge slavisk. Hvis du køber en særlig ingrediens til en ret og ikke får brugt resten, er det mad direkte i skraldespanden.</br>
Ingredienser i en opskrift kan du sagtens erstatte med noget andet, som du måske har i køleskabet - brug for eksempel revet citronskal i stedet for citrongræs, brug yoghurt i stedet for creme fraiche og så videre.</br>

<h3>5. Undgå at lave og spise for meget mad</h3>
<br>Lav kun den nødvendige mængde mad. En person spiser cirka 75-100 gram ris eller 3 kartofler (200-300 gram), 100 gram kød og 150-200 gram grøntsager til et måltid.</br>
Tallerkenstørrelsen kan påvirke, hvor meget du spiser. Tag en mindre tallerken, og portionsanret maden i køkkenet. Så undgår du også at smide mad ud, fordi du har taget for meget mad over på din tallerken.</br>

<h3>6. Brug dine rester</h3>
<br>Rester -  selv de små rester - kan du supplere din almindelige madpakke med. Husk at tænke resterne ind, når du køber ind til madpakker.</br>
Vær kreativ, når du laver mad af resterne.  Tomatsuppe kan blive til sovs næste dag. Kødrester kan du krydre og kommes i tortillas. Skinkepålæg, spegepølse og så videre kan bruges på pizzaer.</br>

<h3>7. Brug opbevaringsbøtter i flere størrelser</h3>
<br>Køl hurtigt rester ned, så holder de sig bedre. Flyt maden fra den varme gryde eller fad over i mindre, lukkede beholdere. Det skal kun lige dampe af, før du sætter maden på køl.</br>
Maden køler hurtigere ned, hvis du fordeler den i flere små beholdere. Opbevar resterne ved højst 5 grader i køleskabet. Så holder resterne sig bedst og du undgår, at bakterier vokser frem på maden.</br>
Hav opbevaringsbokse i alle størrelser, og brug gennemsigtige bokse. Så kan du bedre se, hvad du har i køleskabet.</br>
Varm restemaden op til en temperatur på 75 grader, når du skal spise dem.</br>

<h3>8. Bag eller kog dine triste frugter og grøntsager</h3>
<br>Frugter og grøntsager, der er blevet rynkede, behøver ikke ende i skraldespanden. Sådan kan du blandt andet bruge dem:</br>
Frugter, der er rynkede eller overmodne, er gode i kager eller smoothies.</br>
Pærer er lækre i en pæretærte.</br>
Æbler kan du koge til kompot og bruge på morgengrøden eller din ymer.</br>
Rynkede gulerødder, rødbeder og æbler kan du tilsætte dej til brød og boller.</br>
Brune bananer er gode i smoothies.</br>
Pizza, lasagne, tærte og gryderetter er gode retter med rester. I de retter kan du putte stort set alle dine slatne grøntsager.</br>
Rynkede og bløde tomater og peberfrugter, de kedelige gulerødder og den rynkede, halvtørre spinat er lækkert i kødsovs.</br>
Stokken fra broccoli kan du også hakke fint og putte i sovsen.</br>
Løg og hvidløg er fine at bruge, selvom de er spirede. Rens løgene, som du plejer, og brug dem inklusiv de grønne skud. Både løg og hvidløg mister lidt styrke, når de spirer, så du skal tilsætte lidt flere end du plejer.</br>
På den måde får du samtidig lidt ekstra fyld.</br>
9. Frys madvarer, som du ikke kan få spist</br>
Kød, pålæg, ost, brød og grøntsager kan du fryse ned og bruge senere.</br>

Husk at ompakke madvarerne i egnede poser eller bøtter, og skriv dato og indhold på. Så undgår du en masse UFO’er (uidentificerbare frosne objekter) i din fryser.</br>

<body>

</body>

</html>